extends skeleton

block body
  
  //- // default variables to be overridden in vars block
  
  - var slug = ''
  - var title = ''
  - var play = false
  - var github = false
  - var backgroundPosition = 'center'
  

  block vars
  
  .project-page(style="background-image: url('/images/projects/#{slug}-large.jpg?DIGEST'); background-position: #{backgroundPosition}")
    
    if github
      a.fork-me(href="https://github.com/BernieSumption/#{github}" target="_blank")

    .heading
      h1 #[a.icon-reply.button.back-button(href="/")] #{title}
      block description
    
    if play
    
      .main
        a.button.play-button.icon-youtube-play(href=play)

      .popover-frame
        a.button.close-button.icon-cancel-circled(href="javascript:void(0)", title="Close [Esc]")
